.nav {
    padding-left:0; 
    list-style: none;
  }
  .navbar-brand {
    height: 100px;
    padding: 31px 37px;
    font-size: 20px;
    line-height: 21px;
    font-family: fantasy;
  }
  .navbar-nav li {
    padding-top: 20px;
  }

  .sp {
    color: rgb(132, 255, 0);
    font-family: fantasy;
  }

  .navbar-nav li a{
    font-size: larger;
    border-radius: 10px;
    width: 0px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
    font-family: arial black;
    color: black;
  }
  ul
  {
    margin-top:16px;
  }
 /* .main {
     background: url('/static/images/bg.jpg'); 
    height: auto;
  } */

  .navbar-right li a:hover {
    background-color: black;
  }

  .navbar-right li:nth-child(5),
  .navbar-right li:nth-child(6) {
    background-color: rgb(98, 159, 33);
    border-radius: 15px;
    margin: 2px;
  }

  /* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height:100%;
    width: 100%;
    color: white;
    text-align: center;
    height: 80px;
    margin-top: 5rem;
  
  } */
 
footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px 0;
position: fixed;
bottom: 0;
width: 100%;
}
/* Responsive adjustments */
@media screen and (max-width: 768px) {
/* Adjust styles for smaller screens */
.navbar-nav li {
    padding-top: 10px;
}
.spbtns {
    width: 120px;
}
}
@media (max-width: 768px) {
/* Adjust styles for smaller screens */
.navbar-nav li {
  padding-top: 10px;
}
/* Other responsive styles */
}
 /* Home page  */

.div {
    background-image: url("{% static 'images/bg.jpg' %}");
}
.welcome-text {
    width: 600px;
    height: 0px;
    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
}
.welcome-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.welcome-text p {
    font-size: 18px;
    margin-bottom: 30px;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
} 