{% extends 'index.html '%}
{% load static %} 
{% block hero %}
<h1>Our Goals</h1>
<p>The goal of an e-tendering system is to streamline and digitize the procurement process by leveraging electronic platforms. Here are the key objectives:</p>
<h5><b>Efficiency:</b></h5>
<p>E-tendering aims to reduce paperwork and manual processes associated with traditional tendering. By automating solicitation bid tenders, it accelerates the entire procurement cycle.</p>
<h5><b>Transparency:</b></h5>
<p>The system ensures transparency by allowing bidders to submit information in response to a request for proposal (RFP) within a specified deadline. All interactions, document exchanges, and evaluations occur online.</p>
<h5><b>Supplier Assessment:</b></h5>
<p>E-tendering facilitates the assessment of suppliers. Organizations can evaluate bids, compare offerings, and shortlist potential suppliers based on their responses.</p>
<h5><b>Cost Savings:</b></h5>
<p>By eliminating physical paperwork, e-tendering saves time and money for both suppliers and contracting entities. It also minimizes disputes arising from the bidding process.</p>
<h5><b>Legally Binding:</b></h5>
<p>Finalized e-tenders become legally binding contracts if a supplier is selected. The negotiation and auction processes can occur within the e-procurement framework.</p><br><br><br>
{% endblock %}