{% extends 'index.html' %}
{% load static %}
{% block css %}

.welcome-text {
    width: 600px;
    height: 0px;
    position: absolute;
    top: 20%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
}
.welcome-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.welcome-text p {
    font-size: 18px;
    margin-bottom: 30px;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
} 
{% endblock css %}
{% block body %}
<div class="welcome-text">
    <h1>Welcome to Our Offcial Auction Site.</h1>
    <p>Explore a wide range of items and place your bids!</p>
    <a href={% url 'tender_list' %} class="cta-button">Get Started</a>
</div>

{% endblock body %}