{% extends 'index.html' %}
{% load static %}
{% block css %}
<style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        body
        {
            background-color:light-blue;
            opacity:80%;
            
        }h1{
            
            font-size:30px;
            font-family:fantasy;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            height: 80px;
            margin-top: 5rem;
        }

        .footer p {
            padding-top: 30px;
            font-weight: bolder;
            font-size: 17px;
        }
        input, .form-label-group > label {
            height: 3.125rem;
            padding: 0.75rem;
        }
        .group
        {
            padding: 1rem;
        }
    </style>
    {% endblock css %}

{% block body %}
<br><br><br><br><br>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal text-black">Login</h1>
        <p class="text-black">Login the system to continue</p>
    </div>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    
    <form class="form-signin container w-40 " method="POST" action=""> {%csrf_token%}
        <div class="container w-50 p-4">
            <div class="form-label-group group">
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
            </div>
    
            <div class="form-label-group group">
                <input type="password" name="pass1" class="form-control" placeholder="Password" required>
            </div>
            <br><br>
            <center>
                <button class="btn btn-lg btn-primary btn-block w-25" type="submit">LOGIN</button>
                <a href="{% url 'signup' %}" class="btn btn-lg btn-success btn-block w-50" >New account</a>
            </center>
        </div>

    </form>
{% endblock body %}